<div class="auth-container">
    <mat-card class="auth-card">
      <mat-card-title>🔐 Elfelejtett jelszó</mat-card-title>
      <form [formGroup]="forgotForm" (ngSubmit)="resetPassword()">
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email cím</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
            Email megadása kötelező!
          </mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
            Érvényes email címet adj meg!
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="forgotForm.invalid">
          Jelszó visszaállítása
        </button>
      </form>
    </mat-card>
  </div>
  