.tags {
    margin-top: 1rem;
  
    .tag {
      display: inline-block;
      background-color: #c8e6c9;
      border-radius: 5px;
      padding: 4px 10px;
      font-size: 13px;
      margin: 3px;
    }
  }
  