# == ANGULAR OUTPUT ==
dist/
.out-tsc/
.angular/cache/
coverage/

# == NODE MODULES ==
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# == ENVIRONMENT FILES ==
.env
.env.*.local

# == LOGS ==
logs/
*.log

# == VSCODE / IDEK ==
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# == TEST / CACHE ==
testem.log
.sass-cache/
.cache/
.nyc_output/
.typings
*.tsbuildinfo
.history/
bower_components/

# == OS FÁJLOK ==
.DS_Store
Thumbs.db

# == EGYÉB BUILD MARADVÁNYOK ==
lib-cov
build/Release
*.pid
*.seed
*.pid.lock
.lock-wscript

# == GIT TOOLING ==
.yarn-integrity
.yarn/cache
.yarn/unplugged
.pnp.*
