.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  flex-shrink: 0;
}

.content-scrollable {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
